{
  "ConnectionStrings": {
    "DefaultConnection": "Server=.;Database=Rcordr;Integrated Security=true;TrustServerCertificate=true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug"
    }
  }
}
